<%- include partials/header.ejs %>

<p>Book Store</p>

<% books.forEach((book) => { %>
  <div class="row">
    <p><%= book.title %></p>
    <p><%= book.author %></p>
    <p><%= book.genre %></p>
    <p><%= book.pages %></p>
    <a href='/delete/<%= book.id %>'><button>delete</button></a>
  </div>
<% })%>

<%- include partials/footer.ejs %>
