<p>Book Store</p>

<% books.forEach((book) => { %>
  <div data-bookid="<%= book.id %>">
    <p><%= book.title %></p>
    <p><%= book.author %></p>
    <p><%= book.genre %></p>
    <p><%= book.pages %></p>
    <a href='#'><button>delete</button></a>
  </div>
<% })%>
